@font-face {
    font-family: 'Averta';
    src: url(./resources/AvertaDemo-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Averta', sans-serif;

}

a {
    text-decoration: none;
}

body {
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

.first {
    border: 1px solid transparent;
    height: 800px;
    background-image: url("https://zuri.team/img/hero-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

header {
    margin: 70px auto;
    width: fit-content;

    img {
        margin: auto;
        width: auto;
    }
}

main {
    width: 100%;
    height: 120vh;

}

.learn {
    width: fit-content;
    margin: 45px auto;
    font-size: 32px;
    font-weight: 800;
    color: #514949;
}

.unlock {
    @extend .learn;
    font-size: 16px;
    margin: 50px auto;
    font-weight: normal;
    text-align: center;

    p {
        margin-bottom: 6px;

        .red {
            color: #e72727;
        }
    }
}

.new-industry {
    display: flex;
    flex-direction: row;
    width: 35%;
    margin: 20px auto;
    justify-content: space-between;
    flex-wrap: wrap;

    .new {
        color: white;
        background-color: #e7332b;
        padding: 15px 20px;
        border: 1px solid white;

        &:hover {
            background-color: white;
            color: #e7332b;
            border: 1px solid #e7332b;
        }

    }

    .expe {
        @extend .new;
        border: solid 1px #e7332b;
        color: #e7332b;
        background-color: white;

        &:hover {
            background-color: #e7332b;
            color: white;
        }

    }
}


.second {
    width: 100%;
    margin: 50px auto;

    p {
        color: #e7332b;
        width: fit-content;
        margin: auto;
        font-size: 14px;
    }

    .we {
        width: fit-content;
        margin: auto;
        color: #514949;
        margin-bottom: 1rem;

        p {
            margin-top: 10px;
            color: inherit;
            font-size: 24px;
            font-weight: 400;
        }
    }

    .programs {
        background-color: white;
        display: flex;
        width: 85%;
        height: 80vh;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px auto 0;
        

        .size {
            width: 300px;
            display: flex;
            flex-direction: column;

            img {
                width: 130px;
                margin-bottom: 30px;
            }

            .article {
                color: #514949;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                margin-bottom: 20px;
            }

            .link{
                font-weight: 500;
                color: #e7332b;
                &::after{
                    content: '\003E';
                }
                margin-bottom: 30px
            }
        }

        .train {
            @extend .size;
        }
        .internship{
            @extend .size;
        }
        .talent{
            @extend .size;
        }
    }
    //The dots
    .right-dots{
        position: absolute;
        right: -100px;
        top: -75px;
        z-index: -1;
    
        img{
            width: 400px;
        }
    }
    .left-dots{
        position: absolute;
        left: -100px;
        top: -75px;
        z-index: -1;
        
        img{
            width: 400px;
        
        } 
    }

}

.footer{
    .enclave{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 2em auto 2em;
        padding: 10em 0;
        justify-content: space-between;
        border-bottom: #dbdada 2px solid;
        img{
            align-self: flex-start;
        }
        .links{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 200px;
            
            p{
                color: #514949;
                font-weight: 700;
                font-size: 16px;
                margin:0 0 10px 0;
            }
            a{
                font-weight: 400;
                font-size: 16px;
                color: #e7332b;
                margin:0 0 10px 0;
            }

        }

        .contact{
            @extend .links;
            .add{
                font-size: 14px;
                font-weight: 400;
            }
            a{
                font-size: 14px;
                font-weight: 400;
            }
        }

        .follow{
            @extend .links;
            width: 150px;
            .socials{
                display: flex;
                width: 100px;
                justify-content: space-between;
                a{
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}

footer{
    margin: auto;
    margin-bottom: 5em;
    width: fit-content;
    color: #514949;
    font-weight: 700;
    font-size: 16px;
}



