@font-face {
    font-family: "Graphik";
    src: url(./resources/GraphikRegular.otf);
}
@font-face {
    font-family: "Graphik Bold";
    src: url(./resources/GraphikSemibold.otf);
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Graphik', sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 64px;
    padding: 15px 0;
    width: 92%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        flex-wrap: wrap;

        a {
            font-size: 18px;
            font-weight: 400;
            color: #585757;
            padding: 6px 8px;
            border-radius: 4px;
            min-width: 64px;

        }

        .enroll {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            .shaft {

                img {
                    width: 75px !important;
                    border: 10px solid rgb(231, 28, 28);
                    border-radius: 100px !important;
                    margin-right: -20px;
                    background-color: rgb(231, 28, 28);
                }
            }

            .pug {
                color: white;
                background-color: rgb(231, 28, 28);
                margin-left: -1px;
                font-size: 18px;
                font-weight: 400;
                padding: 16px 18px;
                border-radius: 0 30px 30px 0;
                z-index: -3;
            }
        }

    }
}

.first {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16%;

    img {
      
        mix-blend-mode: darken !important;
        width: 300px;

        &:first-child {
            height: 300px;
        }
    }
    .content{
        border: red 1px solid;
       width: 50%;
        .top{
            font-size: 18px;
            color:red;
        }
        .gain{
            font-size: 49px;
            font-family: "Graphik Bold";
            flex-basis: 50%;
        }
    }
}