@font-face {
    font-family: "Graphik";
    src: url(./resources/GraphikRegular.otf);
}

@font-face {
    font-family: "Graphik Bold";
    src: url(./resources/GraphikSemibold.otf);
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Graphik', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;

}

header {
    width: 100%;
    background-color: white;
}

.inhead {
    z-index: 1;
    position: fixed;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 64px;
    padding: 10px 0 2px 0;
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

    .logo {
        width: 300px;
    }

    .bout {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 55%;
        flex-wrap: wrap;

        a {
            font-size: 18px;
            font-weight: 400;
            color: #585757;
            padding: 6px 8px;
            border-radius: 4px;
            min-width: 64px;
            // margin-left: 20px;

        }

        .enroll {
            justify-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;

            .shaft {

                img {
                    width: 75px !important;
                    border: 10px solid #e7332b;
                    border-radius: 100px !important;
                    margin-right: -20px;
                    background-color: #e7332b;
                    z-index: 1;
                }
            }

            .pug {
                color: white;
                width: fit-content;
                background-color: #e7332b;
                margin-left: -1px;
                font-size: 18px;
                font-weight: 400;
                padding: 12px 30px;
                border-radius: 0 30px 30px 0;

            }
        }

    }
}

.first {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13%;
    height: fit-content;

    img {
        mix-blend-mode: darken !important;
        width: 350px;

        &:first-child {
            margin-right: -100px;
        }
    }

    .content {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: fit-content;

        .top {
            font-size: 18px;
            color: red;
            margin-bottom: 5%;
        }

        .gain {
            font-size: 49px;
            font-family: "Graphik Bold";
            flex-basis: 50%;
        }

        .line {
            width: 170px;
            margin-left: 335px;
        }

        .basic {
            width: 70%;
            align-self: center;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.1688px;
            margin-top: 50px;
        }

        .image-enroll {
            display: flex;
            width: 60%;
            margin: 50px 0;
            justify-content: space-between;
            height: 70px;

            img {
                width: 50px;
                align-self: flex-end;
                justify-self: start;
            }

            .enroll {


                a {
                    background-color: #e7332b;
                    color: white;
                    text-decoration: none;
                    padding: 15px 30px;
                    border-radius: 25px;
                    font-size: 18px;
                }
            }

            .wire {
                position: absolute;
                right: 0;
                margin-right: 60px;
                margin-top: 35px;

                img {
                    width: 100px;
                }

            }
        }

    }
}

#about {
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 70px;
    border-top: 2px solid #e0ded7;

    .about {
        margin-top: 1%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .ing {
            color: #1b1a20;
            font-family: "Graphik Bold";
            font-size: 24px;
            text-transform: uppercase;
            width: 30%;
        }

        .help {
            font-size: 24px;
            text-align: right;
            width: 30%;
            color: #1b1a20;
            line-height: 1.2;

            a {
                text-decoration: underline;
                color: #43b97f;
            }
        }

        img {
            width: 250px;
        }
    }
}

#why-us {
    border-top: 2px solid #e0ded7;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;

    .why-us {
        margin-top: 50px;

        img {
            margin-left: 25%;
            width: 10%;

        }

        .why {
            display: inline-block;
            flex-direction: column;

            p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-top: -20px;
                font-size: 24px;
                color: #e7332b;
                margin-bottom: 10px;
            }

            .cont {
                display: flex;
                width: 90%;
                align-items: center;
                justify-content: space-evenly;

                //to be reveiewed
                .text {
                    font-size: 40px;
                    font-family: "Graphik Bold";
                    font-weight: 400;
                    color: #1b1a20;
                    width: 90%;
                    line-height: 1.2;
                }

                .img {
                    display: block;
                    width: 200px;
                    justify-self: flex-start;
                }

                .null {
                    width: 1%;
                    visibility: hidden;
                }
            }

        }

    }
}

.how-we-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    margin: auto;

    .for-all {
        display: flex;
        flex-direction: column;
        border-radius: 18px !important;
        box-shadow: 0 11px 33px rgba(231, 52, 43, 0.151);
        padding: 58px 48px 93px 50px !important;
        transition: transform .3s ease !important;
        line-height: 1.2;
        width: 32%;
        color: #1b1a20;


        &:hover {
            transform: translateY(-15px);
        }

        p {
            font-size: 60px;
            font-family: "Graphik bold";
            margin-bottom: 25px;
        }

        .type {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 25px;
        }

        .bottom {
            width: 95%;
            font-size: 18px;
        }

        .arch {
            position: absolute;
            right: -1px;
            top: -1px;
            width: 30%;
        }

    }

    .box1 {
        @extend .for-all;
        background-color: #e7332b;
        color: white;

    }

    .box2 {
        @extend .for-all;
        background-color: white;

    }

    .box3 {
        @extend .for-all;
    }

    .box4 {
        @extend .for-all;
        margin-top: 30px;
    }

    .box5 {
        @extend .box4;
    }

    .box6 {
        @extend .box4;
    }
}

.will-help {
    margin-top: 30px;
    display: flex;
    background-color: #e7332b;
    width: 100%;

    .dots {
        position: absolute;
        width: 130px;
        bottom: 3%;
        left: 2%;
    }


    .inside {
        width: 90%;
        margin: 5% auto;
        padding-bottom: 7%;
        display: flex;
        justify-content: space-between;

        .spiral {
            position: absolute;
            width: 140px;
            right: 0;
            top: 0;
            display: none;
        }



        .writes {
            width: 40%;
            display: flex;
            flex-direction: column;
            color: #ffff;
            align-items: flex-start;

            .wire {
                margin-left: 20%;
            }

            p {
                font-size: 18px;
            }

            img {
                width: 90px;
                align-self: center;
                // margin-left: 20%;
                // box-reflect:below;
            }

            .quality {
                font-size: 40px;
                font-weight: 700;
                font-family: "Graphik bold";
                line-height: 1.2;
                margin-bottom: 40px;
                width: 95%;
            }

            .give {
                width: 70%;
                font-size: 18px;
            }

            .enroll {
                display: block;
                padding: 10px 30px;
                background-color: white;
                color: #e7332b;
                text-decoration: none;
                width: fit-content;
                border-radius: 30px;
                font-size: 18px;
                margin-top: 40px;
                transition: 250ms transform;

                &:hover {
                    box-shadow: 1px 3px #2d2e2d60;
                }

            }

            .prip {
                width: 105%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
                align-items: center;
                justify-content: space-between;
                gap: 5px;

                .global {
                    width: 48%;
                    display: flex;
                    border: #ffffff solid 2px;
                    border-radius: 79px;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: left;
                    padding: 12px;

                    &:hover {
                        cursor: no-drop;
                    }


                    img {
                        width: 50px;
                        margin-right: 20px;
                    }

                    p {
                        font-size: 18px;
                        width: fit-content;
                    }
                }


                .team {
                    @extend .global;
                    margin-bottom: 20px;

                }

                .mentorship {
                    @extend .global;
                    margin-bottom: 20px;
                }

                .practice {
                    @extend .global;
                }

                .fungames {
                    @extend .global;
                }
            }
        }

        .girl {
            width: 57%;

            img {
                width: 100%;
            }
        }

    }


    margin-bottom: 30px;
}


.scope {
    width: 90%;
    margin: auto;

    #stacks-covered {
        width: 100%;

        .prog {
            color: #e7332b;
            text-transform: capitalize;
            font-size: 24px;
        }

        .list {
            width: 40%;
            margin-top: 20px;
            font-size: 40px;
            font-family: "Graphik Bold";

        }

        .wire {
            width: 200px;
            margin: 0 auto;

            img {
                width: inherit;
            }
        }

        .course {
            width: 100%;
            display: flex;
            margin: auto;
            justify-content: space-between;
            flex-wrap: wrap;

            .courses {
                width: 32%;
                border-radius: 30px;
                padding: 25px;
                box-shadow: 0 11px 22px rgba(163, 47, 41, 0.116);

                .closure {
                    width: 90%;
                    margin: auto;

                    .c-images {
                        border:#1b1a20 1px dashed;
                        width: fit-content;
                        display: flex;
                        margin: 10px 0 20px 0;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            margin-right: 15px;
                            &:last-child{
                                margin-right: 0;
                            }
                        }

                    }
                    .expl{
                        line-height: 1.5;
                    }

                    .title {
                        font-size: 20px;
                        font-family: "Graphik Bold";

                    }
                }
            }

            .front-end {
                @extend .courses;
            }
            .back-end{
                @extend .courses;
            }
            .product-design{
                @extend .courses;
                img{
                    &:last-child{
                        display: none;
                    }
                }
            }
            .devs-ops{
                @extend .courses;
            }
            .full-stack{
                @extend .courses;
            }
            .frame-works{
                @extend .courses;
            }
        }
    }
}