@font-face {
  font-family: "Graphik";
  src: url(./resources/GraphikRegular.otf);
}
@font-face {
  font-family: "Graphik Bold";
  src: url(./resources/GraphikSemibold.otf);
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Graphik", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: white;
}

.inhead {
  z-index: 1;
  position: fixed;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 64px;
  padding: 10px 0 2px 0;
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.inhead .logo {
  width: 300px;
}
.inhead .bout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  flex-wrap: wrap;
}
.inhead .bout a {
  font-size: 18px;
  font-weight: 400;
  color: #585757;
  padding: 6px 8px;
  border-radius: 4px;
  min-width: 64px;
}
.inhead .bout .enroll {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.inhead .bout .enroll .shaft img {
  width: 75px !important;
  border: 10px solid #e7332b;
  border-radius: 100px !important;
  margin-right: -20px;
  background-color: #e7332b;
  z-index: 1;
}
.inhead .bout .enroll .pug {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e7332b;
  margin-left: -1px;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 0 30px 30px 0;
}

.first {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.first img {
  mix-blend-mode: darken !important;
  width: 350px;
}
.first img:first-child {
  margin-right: -100px;
}
.first .content {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.first .content .top {
  font-size: 18px;
  color: red;
  margin-bottom: 5%;
}
.first .content .gain {
  font-size: 49px;
  font-family: "Graphik Bold";
  flex-basis: 50%;
}
.first .content .line {
  width: 170px;
  margin-left: 335px;
}
.first .content .basic {
  width: 70%;
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1688px;
  margin-top: 50px;
}
.first .content .image-enroll {
  display: flex;
  width: 60%;
  margin: 50px 0;
  justify-content: space-between;
  height: 70px;
}
.first .content .image-enroll img {
  width: 50px;
  align-self: flex-end;
  justify-self: start;
}
.first .content .image-enroll .enroll a {
  background-color: #e7332b;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 18px;
}
.first .content .image-enroll .wire {
  position: absolute;
  right: 0;
  margin-right: 60px;
  margin-top: 35px;
}
.first .content .image-enroll .wire img {
  width: 100px;
}

#about {
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 70px;
  border-top: 2px solid #e0ded7;
}
#about .about {
  margin-top: 1%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#about .about .ing {
  color: #1b1a20;
  font-family: "Graphik Bold";
  font-size: 24px;
  text-transform: uppercase;
  width: 30%;
}
#about .about .help {
  font-size: 24px;
  text-align: right;
  width: 30%;
  color: #1b1a20;
  line-height: 1.2;
}
#about .about .help a {
  text-decoration: underline;
  color: #43b97f;
}
#about .about img {
  width: 250px;
}

#why-us {
  border-top: 2px solid #e0ded7;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  height: 100vh;
}
#why-us .why-us {
  margin-top: 50px;
}
#why-us .why-us img {
  margin-left: 25%;
  width: 10%;
}
#why-us .why-us .why {
  display: inline-block;
  flex-direction: column;
}
#why-us .why-us .why p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -20px;
  font-size: 24px;
  color: #e7332b;
  margin-bottom: 10px;
}
#why-us .why-us .why .cont {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
}
#why-us .why-us .why .cont .text {
  font-size: 40px;
  font-family: "Graphik Bold";
  font-weight: 400;
  color: #1b1a20;
  width: 900px;
  line-height: 1.2;
}
#why-us .why-us .why .cont .img {
  display: block;
  width: 200px;
  justify-self: flex-start;
}
#why-us .why-us .why .cont .null {
  width: 10%;
  visibility: hidden;
}

.how-we-do {
  display: flex;
  width: 90%;
  margin: auto;
}
.how-we-do .for-all, .how-we-do .box1 {
  border-radius: 18px !important;
  box-shadow: 0 11px 22px rgba(231, 51, 43, 0.1);
  padding: 58px 48px 93px 50px !important;
  transition: transform 0.3s ease !important;
  line-height: 1.2;
  width: 30%;
}
.how-we-do .for-all p, .how-we-do .box1 p {
  font-size: 60px;
  font-family: "Graphik bold";
  margin-bottom: 20px;
}
.how-we-do .for-all .type, .how-we-do .box1 .type {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.how-we-do .for-all .bottom, .how-we-do .box1 .bottom {
  width: 100%;
  font-size: 18px;
}
.how-we-do .for-all .arch, .how-we-do .box1 .arch {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 30%;
}
.how-we-do .box1 {
  background-color: #e7332b;
  color: white;
}/*# sourceMappingURL=training.css.map */